{% extends 'council/base.html' %}

{% block styles %}


{% endblock styles %}

{% block title %} 
<title>About</title>  

{% endblock %}  

{% block content %}

<h3>About this project</h3>

<p>
I began this project in early 2014 when Bill Green's resignation from his City Council seat to become Chair of the School Reform Commission got me thinking about City Council terms of service. Later I read speculation that his successor was  <a href="http://www.newsworks.org/index.php/off-mic/item/65711?linktype=hp_blogs"> essentially being installed</a> by the Democratic Party.  Philadelphia has a reputation of corruption and of being a one party town, where it's near impossible for an outsider to make it, where Councilmembers keep their seats until they die or are indicted.  I was curious to know how true this is, and I set out to collect some data to refute or support this reputation.  
</p>

<p>
I wanted to know about how and when Councilmembers got elected. I also wanted to know their demographics – focusing on gender, race, age, and party affiliation. I wanted to know how and when they left office. What I found is this data is very hard to come by.  
</p>

<p>
I asked the <a href="https://www.seventy.org/">Committee of Seventy</a>, a nonprofit, nonpartisan group that “fights for better government, fair elections and an honest political culture.” They didn't have any data they could share with me themselves but referred me to the City Council Clerk's Office and to the <a href="http://www.philadelphiavotes.com/">City Commissioners Office</a>.
</p>

<p>
The Clerk's Office is the administrative office for City Council.  The best they could do was <a href="https://drive.google.com/file/d/0BzxwD4LNMo68RVBSdG9oNUNmSDg/view?usp=sharing" target="_blank" title="PDF. Offered here under an 'assume permission request forgiveness' philosophy as I never got a response when I requested permission">this document</a>. Close review of the rosters shows many inaccurate or incomplete data points. They told me they have similar rosters prior to 1952 available as hard copies in the Clerk's office but the pages are too delicate to scan. I was invited to look through them in person but I have not done so.  
</p>

<p>
The Commissioner's Office is board of elected officials in charge of elections and voter registration for the City of Philadelphia.  The best they could do was <a href="https://drive.google.com/file/d/0BzxwD4LNMo68T21tWUtoVG4zN2M/view?usp=sharing" target="_blank" title="PDF. Offered here with permission.">this document</a>.  One staff member there said they don't maintain data before 1979 and suggested I go through old newspapers at local libraries and universities for that data. Another staff member told me they do have data back to 1936 but hasn't responded to my request to share it. They do not have any data on special elections.
</p>

<p>
Neither the Clerk's Office nor the Commissioners Office were able to offer their data in machine-readable format. The Commissioners Office does have <a href="http://www.philadelphiavotes.com/en/resources-a-data/prior-year-election-results" target="_blank">some data on recent elections</a> that I'm starting to work through.</p>

<p>
The rest of my data came from Google searches. I likely have inaccuracies in my final datasest because most of this data does not come from official sources.  I then started extracting data to build these visualizations. Feel free to email phlcitycouncil@gmail.com or  <a href="https://twitter.com/maneeshasane" target="_blank">tweet at me</a> if you have better information or if there's anything else you'd like to see, or any other questions or comments. 
</p>


{% endblock content %}