<!doctype html>

{% load staticfiles %}
<html>

<head>

{% block title %} 
    <title>Philadelphia City Council</title>
{% endblock %}




{% block styles %}

{% endblock %}

    <!-- Load jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Load d3 charts -->
    <script src="http://d3js.org/d3.v3.min.js"></script>    

    <!--Load tooltip library available here under MIT license:
    http://labratrevenge.com/d3-tip/ -->
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

    <!-- Load site-wide styles  -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/base.css" />

<!--     System wide chart colors -->

<script>

// Set color scale to be used throughout site.  To be customized for each chart.

var race_color = {
    'Black'   : '#1B9E77',  /*teal*/
    'White'   : '#D95F02',  /*orange*/
    'Asian'   : '#7570B3', /*purple*/
    'Hispanic': '#E7298A', /*bright pink*/
    'unknown' : '#66A61E' /*green*/
};

var party_color = {
    'Democrat':"#377EB8", /*blue*/
    "Republican":"#E41A1C" /*red*/
};

var gender_color = {
    "M": "#CCCC33", /*yellow*/
    "F": "#009933" /*green*/
};

</script>

{% block scripts %}

{% endblock %}
</head>

<body>

<h1>Philadelphia City Council</h1>

{% block content %}

{% endblock %}
</body>

</html>
