<!doctype html>

{% load staticfiles %}
<html>

<head>
    <title>Philadelphia City Council</title>


{% block scripts %}

{% endblock %}


{% block styles %}

{% endblock %}

    <!-- Load jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Load d3 charts -->
    <script src="http://d3js.org/d3.v3.min.js"></script>    

<link rel="stylesheet" href="{{ STATIC_URL }}/static/base.css" />
</head>

<body>

<h3>Philadelphia City Council</h3>

{% block content %}

{% endblock %}
</body>

</html>
