<!doctype html>

{% load staticfiles %}
<html>

<head>

{% block title %} 
    <title>Philadelphia City Council</title>
{% endblock %}




{% block styles %}

{% endblock %}

    <!-- Load jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Load d3 charts -->
    <script src="http://d3js.org/d3.v3.min.js"></script>    


    <!-- Load site-wide styles  -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/base.css" />
{% block scripts %}

{% endblock %}
</head>

<body>

<h1>Philadelphia City Council</h1>

{% block content %}

{% endblock %}
</body>

</html>
