{% extends 'council/base.html' %}


{% block title %} 
    <title>Philadelphia City Council Demographics: Stacked Bar Chart</title>
{% endblock %}

{% block styles %}

<style>

#race-names, #gender-names, #party-names {
  width:225px;
  position:absolute; 
  left:530px; top:200px; 
  z-index: 10; 
  background-color:khaki; 
  padding:5px;
}

.title {
  font-size:20px;
  text-decoration: underline;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
#tooltip {
    position: absolute;
    text-align: center;
    width: 140px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
</style>
{% endblock styles %}

{% block content %}

<script>

//Set up dimensions for all charts

var margins = {
    top: 25,
    left: 48,
    right: 100,
    bottom: 44
},

legendPanel = {
    width: 80
},

width = 700 - margins.left - margins.right - legendPanel.width,
height = 400 - margins.top - margins.bottom

</script>

<div id = 'race'>
  <div id = 'race-chart' style = "width: 850px; float: left; margin: 20px 10px; position:relative;">
    <div id = 'race-names'>Councilmembers:</div>
  </div>
</div>


<div id = 'gender'>
  <div id = 'gender-chart' style = "width: 850px; float: left; margin: 20px 10px; position:relative;">
    <div id = 'gender-names'>Councilmembers:</div>
  </div>
</div>

<div id = 'party'>
  <div id = 'party-chart' style = "width: 850px; float: left; margin: 20px 10px; position:relative;">
    <div id = 'party-names'>Councilmembers:</div>
  </div>
</div>


<!-- Now comes some highly repetitive javascript -->
<!-- RACE CHART  -->

<script>    
var dataset = {{ races|safe }};
   
series = dataset.map(function (d) {
        //define what you're counting by 
        //used only for the legend
        return d.councilperson_id_id__race;
    }),

dataset = dataset.map(function (d) {
        return d.values.map(function (o, i) {
            // Structure it so that your numeric
            // axis (the stacked amount) is y
            return {
                //all the data that's going to be used in the chart
                //y-axis has the count; x-axis has the year; also passing in names for tooltips
                y: o.count,
                x: o.year,
                n: o.names_list
            };
        });
    }),

stack = d3.layout.stack();

stack(dataset);  //d3 stack function on the dataset defined & modified above

var svg = d3.select('#race-chart')
    .append('svg')
    .attr('width', width + margins.left + margins.right + legendPanel.width)
    .attr('height', height + margins.top + margins.bottom)
    .append('g')
    .attr('transform', 'translate(' + margins.left + ',' + margins.top + ')'),

yMax = d3.max(dataset, function (group) {
    return d3.max(group, function (d) {
        return d.y + d.y0;
    });
}),

yScale = d3.scale.linear()
    .domain([0, yMax])
    .range([height, 0]),

years = dataset[0].map(function (d) {
    return d.x;
}),

xScale = d3.scale.ordinal()
    .domain(years)
    .rangeRoundBands([0, width], .1),

xAxis = d3.svg.axis()
    .scale(xScale)
    .orient('bottom'),

yAxis = d3.svg.axis()
    .scale(yScale)
    .orient('left'),

colours = d3.scale.ordinal()
  .range(["#1B9E77", "#D95F02", "#7570B3", "#E7298A", "#66A61E"]),

groups = svg.selectAll('g')
    .data(dataset)
    .enter()
    .append('g')
    .style('fill', function (d, i) {
    return colours(i);
}),



rects = groups.selectAll('rect')
    .data(function (d) {
        return d;
        })
    .enter()
    .append('rect')
    .attr('x', function (d) {
        return xScale(d.x);
        })
    .attr('y', function (d) {
        return yScale(d.y0 + d.y);
        })
    .attr('height', function (d) {
        return yScale(d.y0) - yScale(d.y0 + d.y);
        })
    .attr('width', function (d) {
        return xScale.rangeBand();
        })
    .on('mouseover', function (d) {
        d3.select('#race-names')
            .text("Councilmembers: " + d.n);
        d3.select('#race-names').classed('hidden', false);
        })
    .on('mouseout', function () {
        d3.select('#race-names').classed('hidden', true);
    })

//draw xAxis, apply styles defined above
svg.append('g')
    .attr('class', 'axis')
    .attr("transform", "translate(0," + (height) + ")")
    .call(xAxis);

//draw yAxis, apply styles defined above
svg.append('g')
    .attr('class', 'axis')
    .call(yAxis);

//Create Y axis label
svg.append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 0-margins.left)
    .attr("x",0 - (height / 2))
    .attr("dy", "1em")
    .style("text-anchor", "middle")
    .text("Count");

//Create X axis label   
svg.append("text")
.attr("x", width / 2 )
    .attr("y",  height + margins.bottom)
    .style("text-anchor", "middle")
    .text("Year");


//Create Title 
svg.append("text")
.attr("x", width / 2 )
    .attr("y", height/2 - 175)
    .attr("class", "title")
    .style("text-anchor", "middle")
    .text("Councilmembers by Race");

//draw legend box, set styles here
svg.append('rect')
    .attr('fill', 'khaki')
    .attr('width', 250)
    .attr('height', 30 * dataset.length)
    .attr('x', width + margins.left - 35)
    .attr('y', 0);

//fill legend box with actual legend
series.forEach(function (s, i) {
    svg.append('text')
        .attr('fill', 'black')
        .attr('x', width + margins.left -30)
        .attr('y', i * 24 + 24)
        .text(s);
    svg.append('rect')
        .attr('fill', colours(i))
        .attr('width', 50)
        .attr('height', 20)
        .attr('x', width + margins.left +  55)
        .attr('y', i * 24 + 6);
});

</script>



<!-- GENDER CHART  -->
<script>

var dataset = {{ genders|safe }};
   
series = dataset.map(function (d) {
        //define what you're counting by 
        //used only for the legend
        return d.councilperson_id_id__gender;
    }),

dataset = dataset.map(function (d) {
        return d.values.map(function (o, i) {
            // Structure it so that your numeric
            // axis (the stacked amount) is y
            return {
                //all the data that's going to be used in the chart
                //y-axis has the count; x-axis has the year; also passing in names for tooltips
                y: o.count,
                x: o.year,
                n: o.names_list
            };
        });
    }),

stack = d3.layout.stack();

stack(dataset);  //d3 stack function on the dataset defined & modified above

var svg = d3.select('#gender-chart')
    .append('svg')
    .attr('width', width + margins.left + margins.right + legendPanel.width)
    .attr('height', height + margins.top + margins.bottom)
    .append('g')
    .attr('transform', 'translate(' + margins.left + ',' + margins.top + ')'),

yMax = d3.max(dataset, function (group) {
    return d3.max(group, function (d) {
        return d.y + d.y0;
    });
}),

yScale = d3.scale.linear()
    .domain([0, yMax])
    .range([height, 0]),


years = dataset[0].map(function (d) {
    return d.x;
}),

xScale = d3.scale.ordinal()
    .domain(years)
    .rangeRoundBands([0, width], .1),

xAxis = d3.svg.axis()
    .scale(xScale)
    .orient('bottom'),

yAxis = d3.svg.axis()
    .scale(yScale)
    .orient('left'),

colours = d3.scale.ordinal()
  .range(["#1B9E77", "#D95F02", "#7570B3", "#E7298A", "#66A61E"]),

groups = svg.selectAll('g')
    .data(dataset)
    .enter()
    .append('g')
    .style('fill', function (d, i) {
    return colours(i);
}),

rects = groups.selectAll('rect')
    .data(function (d) {
        return d;
        })
    .enter()
    .append('rect')
    .attr('x', function (d) {
        return xScale(d.x);
        })
    .attr('y', function (d) {
        return yScale(d.y0 + d.y);
        })
    .attr('height', function (d) {
        return yScale(d.y0) - yScale(d.y0 + d.y);

        })
    .attr('width', function (d) {
        return xScale.rangeBand();
        })
    .on('mouseover', function (d) {
        d3.select('#gender-names')
            .text("Councilmembers: " + d.n);

        d3.select('#gender-names').classed('hidden', false);
        })
    .on('mouseout', function () {
        d3.select('#gender-names').classed('hidden', true);
    })

//draw xAxis, apply styles defined above
svg.append('g')
    .attr('class', 'axis')
    .attr("transform", "translate(0," + (height) + ")")
    //.attr('transform', 'translate(0,' + (height) + ')')
    .call(xAxis);

//draw yAxis, apply styles defined above
svg.append('g')
    .attr('class', 'axis')
    .call(yAxis);

//Create Y axis label
svg.append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 0-margins.left)
    .attr("x",0 - (height / 2))
    .attr("dy", "1em")
    .style("text-anchor", "middle")
    .text("Count");

//Create X axis label   
svg.append("text")
.attr("x", width / 2 )
    .attr("y",  height + margins.bottom)
    .style("text-anchor", "middle")
    .text("Year");


//Create Title 
svg.append("text")
.attr("x", width / 2 )
    .attr("y", height/2 - 175)
    .attr("class", "title")
    .style("text-anchor", "middle")
    .text("Councilmembers by Gender");

//draw legend box, set styles here
svg.append('rect')
    .attr('fill', 'khaki')
    .attr('width', 250)
    .attr('height', 30 * dataset.length)
    .attr('x', width + margins.left - 35)
    .attr('y', 0);

//fill legend box with actual legend
series.forEach(function (s, i) {
    svg.append('text')
        .attr('fill', 'black')
        .attr('x', width + margins.left -30)
        .attr('y', i * 24 + 24)
        .text(s);
    svg.append('rect')
        .attr('fill', colours(i))
        .attr('width', 50)
        .attr('height', 20)
        .attr('x', width + margins.left +  55)
        .attr('y', i * 24 + 6);
});

</script>

<!-- PARTY CHART  -->
<script>

var dataset = {{ parties|safe }};
   
series = dataset.map(function (d) {
        //define what you're counting by 
        //used only for the legend
        return d.party;
    }),

dataset = dataset.map(function (d) {
        return d.values.map(function (o, i) {
            // Structure it so that your numeric
            // axis (the stacked amount) is y
            return {
                //all the data that's going to be used in the chart
                //y-axis has the count; x-axis has the year; also passing in names for tooltips
                y: o.count,
                x: o.year,
                n: o.names_list
            };
        });
    }),

stack = d3.layout.stack();

stack(dataset);  //d3 stack function on the dataset defined & modified above

var svg = d3.select('#party-chart')
    .append('svg')
    .attr('width', width + margins.left + margins.right + legendPanel.width)
    .attr('height', height + margins.top + margins.bottom)
    .append('g')
    .attr('transform', 'translate(' + margins.left + ',' + margins.top + ')'),

yMax = d3.max(dataset, function (group) {
    return d3.max(group, function (d) {
        return d.y + d.y0;
    });
}),

yScale = d3.scale.linear()
    .domain([0, yMax])
    .range([height, 0]),

years = dataset[0].map(function (d) {
    return d.x;
}),

xScale = d3.scale.ordinal()
    .domain(years)
    .rangeRoundBands([0, width], .1),

xAxis = d3.svg.axis()
    .scale(xScale)
    .orient('bottom'),

yAxis = d3.svg.axis()
    .scale(yScale)
    .orient('left'),

colours = d3.scale.ordinal()
  .range(["#1B9E77", "#D95F02", "#7570B3", "#E7298A", "#66A61E"]),

groups = svg.selectAll('g')
    .data(dataset)
    .enter()
    .append('g')
    .style('fill', function (d, i) {
    return colours(i);
}),

rects = groups.selectAll('rect')
    .data(function (d) {
        return d;
        })
    .enter()
    .append('rect')
    .attr('x', function (d) {
        return xScale(d.x);
        })
    .attr('y', function (d) {
        return yScale(d.y0 + d.y);
        })
    .attr('height', function (d) {
        return yScale(d.y0) - yScale(d.y0 + d.y);

        })
    .attr('width', function (d) {
        return xScale.rangeBand();
        })
    .on('mouseover', function (d) {
        d3.select('#party-names')
            .text("Councilmembers: " + d.n);

        d3.select('#party-names').classed('hidden', false);
        })
    .on('mouseout', function () {
        d3.select('#party-names').classed('hidden', true);
    })

//draw xAxis, apply styles defined above
svg.append('g')
    .attr('class', 'axis')
    .attr("transform", "translate(0," + (height) + ")")
    //.attr('transform', 'translate(0,' + (height) + ')')
    .call(xAxis);

//draw yAxis, apply styles defined above
svg.append('g')
    .attr('class', 'axis')
    .call(yAxis);

//Create Y axis label
svg.append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 0-margins.left)
    .attr("x",0 - (height / 2))
    .attr("dy", "1em")
    .style("text-anchor", "middle")
    .text("Count");

//Create X axis label   
svg.append("text")
.attr("x", width / 2 )
    .attr("y",  height + margins.bottom)
    .style("text-anchor", "middle")
    .text("Year");

//Create Title 
svg.append("text")
.attr("x", width / 2 )
    .attr("y", height/2 - 175)
    .attr("class", "title")
    .style("text-anchor", "middle")
    .text("Councilmembers by Party");


//draw legend box, set styles here
svg.append('rect')
    .attr('fill', 'khaki')
    .attr('width', 175)
    .attr('height', 30 * dataset.length)
    .attr('x', width + margins.left - 35)
    .attr('y', 0);

//fill legend box with actual legend
series.forEach(function (s, i) {
    svg.append('text')
        .attr('fill', 'black')
        .attr('x', width + margins.left -30)
        .attr('y', i * 24 + 24)
        .text(s);
    svg.append('rect')
        .attr('fill', colours(i))
        .attr('width', 50)
        .attr('height', 20)
        .attr('x', width + margins.left + 55)
        .attr('y', i * 24 + 6);
});

</script>

{% endblock content %}