{% extends 'council/base.html' %}


{% block title %} 
    <title>Philadelphia City Council Demographics: Stacked Bar Chart</title>
{% endblock %}

{% block styles %}

<style>

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
#tooltip {
    position: absolute;
    text-align: center;
    width: 140px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
</style>
{% endblock styles %}



{% block content %}


<script>
var races = {{ races|safe }};
console.log(races);


var margins = {
    top: 12,
    left: 48,
    right: 60,
    bottom: 24
},

legendPanel = {
    width: 80
},

width = 700 - margins.left - margins.right - legendPanel.width,
height = 400 - margins.top - margins.bottom,
    
   
dataset = [
    //Data is hardcoded until I figure out what to do with zero values

    {'councilperson_id_id__race': 'White',
    'values': 
    [
        {'count': 9, 'names_list': ['Ann Land', 'Anna Verna', "Brian O'Neill", 'David Cohen', 'George Schwartz', 'James Tayoun', 'Joan Krajewski', 'Joan Specter', 'Louis Johanson'], 'year': 1980}, 
        {'count': 8, 'names_list': ['Ann Land', 'Anna Verna', "Brian O'Neill", 'David Cohen', 'Joan Krajewski', 'Joan Specter', 'Leland Beloff', 'William Longstreth'], 'year': 1984}, 
        {'count': 9, 'names_list': ['Ann Land', 'Anna Verna', "Brian O'Neill", 'David Cohen', 'Jack Kelly', 'James Tayoun', 'Joan Krajewski', 'Joan Specter', 'William Longstreth'], 'year': 1988}, 
        {'count': 10, 'names_list': ['Anna Verna', "Brian O'Neill", 'Daniel McElhatton', 'David Cohen', 'Happy Fernandez', 'James Kenney', 'Joan Krajewski', 'Joan Specter', 'Joseph Vignola', 'William Longstreth'], 'year': 1992}, 
        {'count': 10, 'names_list': ['Anna Verna', "Brian O'Neill", 'David Cohen', 'Frank DiCicco', 'Frank Rizzo', 'Happy Fernandez', 'James Kenney', 'Joan Krajewski', 'Richard Mariano', 'William Longstreth'], 'year': 1996}, 
        {'count': 9, 'names_list': ['Anna Verna', "Brian O'Neill", 'David Cohen', 'Frank DiCicco', 'Frank Rizzo', 'James Kenney', 'Joan Krajewski', 'Richard Mariano', 'William Longstreth'], 'year': 2000}, 
        {'count': 9, 'names_list': ['Anna Verna', "Brian O'Neill", 'David Cohen', 'Frank DiCicco', 'Frank Rizzo', 'Jack Kelly', 'James Kenney', 'Joan Krajewski', 'Richard Mariano'], 'year': 2004}, 
        {'count': 9, 'names_list': ['Anna Verna', 'Bill Green', "Brian O'Neill", 'Frank DiCicco', 'Frank Rizzo', 'Jack Kelly', 'James Kenney', 'Joan Krajewski', 'William Greenlee'], 'year': 2008}, 
        {'count': 7, 'names_list': ['Bill Green', 'Bobby Henon', "Brian O'Neill", "Denny O'Brien", 'James Kenney', 'Mark Squilla', 'William Greenlee'], 'year': 2012}
    ]},
    
    {'councilperson_id_id__race': 'Black', 
     'values': 
    [
       {'count': 5, 'names_list': ['Augusta Clark', 'John Anderson', 'John Street', 'Joseph Coleman', 'Lucien Blackwell'], 'year': 1980},
       {'count': 5, 'names_list': ['Augusta Clark', 'John Street', 'John White', 'Joseph Coleman', 'Lucien Blackwell'], 'year': 1984}, 
       {'count': 6, 'names_list': ['Augusta Clark', 'George Burrell', 'John Street', 'Joseph Coleman', 'Lucien Blackwell', 'Marian Tasco'], 'year': 1988}, 
       {'count': 5, 'names_list': ['Augusta Clark', 'Jannie Blackwell', 'John Street', 'Marian Tasco', 'Michael Nutter'], 'year': 1992}, 
       {'count': 6, 'names_list': ['Augusta Clark', 'Donna Miller', 'Jannie Blackwell', 'John Street', 'Marian Tasco', 'Michael Nutter'  ], 'year': 1996}, 
       {'count': 7, 'names_list': ['Blondell Brown', 'Darrell Clarke', 'Donna Miller', 'Jannie Blackwell', 'Marian Tasco', 'Michael Nutter', 'W Goode'], 'year': 2000}, 
       {'count': 7, 'names_list': ['Blondell Brown', 'Darrell Clarke', 'Donna Miller', 'Jannie Blackwell', 'Marian Tasco', 'Michael Nutter', 'W Goode'], 'year': 2004}, 
       {'count': 7, 'names_list': ['Blondell Brown', 'Curtis Jones', 'Darrell Clarke', 'Donna Miller', 'Jannie Blackwell', 'Marian Tasco', 'W Goode'], 'year': 2008}, 
       {'count': 8, 'names_list': ['Blondell Brown', 'Cindy Bass', 'Curtis Jones', 'Darrell Clarke', 'Jannie Blackwell', 'Kenyatta Johnson', 'Marian Tasco', 'W Goode'], 'year': 2012}
    ]},
    
    {'councilperson_id_id__race': 'Hispanic', 
     'values':
     [
      {'count': 0, 'names_list': [], 'year': 1980},
      {'count': 0, 'names_list': [], 'year': 1984},     
      {'count': 1, 'names_list': ['Angel Ortiz'], 'year': 1988}, 
      {'count': 1, 'names_list': ['Angel Ortiz'], 'year': 1992}, 
      {'count': 1, 'names_list': ['Angel Ortiz'], 'year': 1996}, 
      {'count': 1, 'names_list': ['Angel Ortiz'], 'year': 2000}, 
      {'count': 1, 'names_list': ['Juan Ramos'], 'year': 2004}, 
      {'count': 1, 'names_list': ['Maria Quinonez-Sanchez'], 'year': 2008}, 
      {'count': 1, 'names_list': ['Maria Quinonez-Sanchez'], 'year': 2012}
    ]},

    {'councilperson_id_id__race': 'Asian', 
     'values':
     [
      {'count': 0, 'names_list': [], 'year': 1980},
      {'count': 0, 'names_list': [], 'year': 1984},     
      {'count': 0, 'names_list': [], 'year': 1988}, 
      {'count': 0, 'names_list': [], 'year': 1992}, 
      {'count': 0, 'names_list': [], 'year': 1996}, 
      {'count': 0, 'names_list': [], 'year': 2000}, 
      {'count': 0, 'names_list': [], 'year': 2004}, 
      {'count': 0, 'names_list': [], 'year': 2008}, 
      {'count': 1, 'names_list': ['David Oh'], 'year': 2012}
    ]},

    {'councilperson_id_id__race': 'Unknown', 
     'values':
     [
      {'count': 3, 'names_list': [], 'year': 1980},
      {'count': 4, 'names_list': [], 'year': 1984},     
      {'count': 1, 'names_list': [], 'year': 1988}, 
      {'count': 1, 'names_list': [], 'year': 1992}, 
      {'count': 0, 'names_list': [], 'year': 1996}, 
      {'count': 0, 'names_list': [], 'year': 2000}, 
      {'count': 0, 'names_list': [], 'year': 2004}, 
      {'count': 0, 'names_list': [], 'year': 2008}, 
      {'count': 0, 'names_list': [], 'year': 2012}
    ]}
 ]//end of dataset

   
series = dataset.map(function (d) {
        //define what you're counting by 
        //used only for the legend
        return d.councilperson_id_id__race;
    }),


dataset = dataset.map(function (d) {
        return d.values.map(function (o, i) {
            // Structure it so that your numeric
            // axis (the stacked amount) is y
            return {
                //all the data that's going to be used in the chart
                //y-axis has the count; x-axis has the year; also passing in names for tooltips
                y: o.count,
                x: o.year,
                n: o.names_list
            };
        });
    }),

stack = d3.layout.stack();



stack(dataset);  //d3 stack function on the dataset defined & modified above

// var dataset = dataset.map(function (group) {
//     return group.map(function (d) {
//         // Invert the x and y values, and y0 becomes x0
//         //Trying NOT TO invert values - keep x as x and y as y
//         return {
//             //all the data that's going to be used in the chart
//             x: d.x,
//             y: d.y,
//             y0: d.y0,
//             n: d.n

//         };
//     });
// }),


// _ = console.log('dataset is: ', dataset),

var svg = d3.select('body')
    .append('svg')
    .attr('width', width + margins.left + margins.right + legendPanel.width)
    .attr('height', height + margins.top + margins.bottom)
    .append('g')
    .attr('transform', 'translate(' + margins.left + ',' + margins.top + ')'),


_ = console.log('svg is: ', svg)

//change this from xMax to yMax
yMax = d3.max(dataset, function (group) {
    return d3.max(group, function (d) {
        return d.y + d.y0;
    });
}),

_ = console.log('NOW yMax is: ', yMax), //prints 17 -- STILL 17 after switching y


//change this to represent yScale using yMax
yScale = d3.scale.linear()
    .domain([0, yMax])
    .range([height, 0]),

_ = console.log('yScale is: ', yScale), //prints function i()  -- STILL same after switching y

//years is now represented by x
years = dataset[0].map(function (d) {
    return d.x;
}),

_ = console.log('years is: ', years), //prints array of years [1980, 1984 ... ] -- STILL get array of years

//set this to xScale
xScale = d3.scale.ordinal()
    .domain(years)
    .rangeRoundBands([0, width], .1),

_ = console.log('xScale is: ', xScale), //prints function e()  //still same


//leaving these xAxis & yAxis defs alone

xAxis = d3.svg.axis()
    .scale(xScale)
     //.attr("transform", "translate(0," + (height - 15) + ")")
    .orient('bottom'),

_ = console.log('xAxis is: ', xAxis),  //prints function n()

yAxis = d3.svg.axis()
    .scale(yScale)
    .orient('left'),

_ = console.log('yAxis is: ', yAxis) //prints function n()

//leaving color defs alone
colours = d3.scale.ordinal()
  .range(["#1B9E77", "#D95F02", "#7570B3", "#E7298A", "#66A61E"]),

_ = console.log('colours is: ', colours), //prints function e()

groups = svg.selectAll('g')
    .data(dataset)
    .enter()
    .append('g')
    .style('fill', function (d, i) {
    return colours(i);
}),

_ = console.log('groups is: ', groups),  //prints array of 5 objects

rects = groups.selectAll('rect')
    .data(function (d) {
        return d;
        })
    .enter()
    .append('rect')
    .attr('x', function (d) {
        return xScale(d.x);
        })
    .attr('y', function (d) {
        return height - yScale(d.y0);
        })
    .attr('height', function (d) {
        //return yScale.rangeBand();
        return height - yScale(d.y);

        })
    .attr('width', function (d) {
        //return xScale(d.x);
        return xScale.rangeBand();
        })
    .on('mouseover', function (d) {
        // var xPos = parseFloat(d3.select(this).attr('x'))  / 2 + width  / 2;
        // var yPos = parseFloat(d3.select(this).attr('y')) + yScale.rangeBand() *3.5;

        d3.select('#member-names')
            // .style('left', xPos + 'px')
            // .style('top', yPos + 'px')
            .select('#value')
            .text("Councilmembers: " + d.n);

        d3.select('#member-names').classed('hidden', false);
        })
    .on('mouseout', function () {
        d3.select('#member-names').classed('hidden', true);
    })

_ = console.log('rects is: ', rects) // array of 5 objects, each is a array of 9 objects


//end next set of variables drawing graph itself


//draw xAxis, apply styles defined above
svg.append('g')
    .attr('class', 'axis')
    .attr("transform", "translate(0," + (height) + ")")
    //.attr('transform', 'translate(0,' + (height) + ')')
    .call(xAxis);

//draw yAxis, apply styles defined above
svg.append('g')
    .attr('class', 'axis')
    //.attr('transform', 'translate(0,' + (height + 10) + ')')
    .call(yAxis);

//draw legend box, set styles here
svg.append('rect')
    .attr('fill', 'khaki')
    .attr('width', 250)
    .attr('height', 30 * dataset.length)
    .attr('x', width + margins.left - 35)
    .attr('y', 0);

//fill legend box with actual legend
series.forEach(function (s, i) {
    svg.append('text')
        .attr('fill', 'black')
        .attr('x', width + margins.left -30)
        .attr('y', i * 24 + 24)
        .text(s);
    svg.append('rect')
        .attr('fill', colours(i))
        .attr('width', 50)
        .attr('height', 20)
        .attr('x', width + margins.left +  40)
        .attr('y', i * 24 + 6);
});

</script>


<div id='bar-chart'>bar chart div</div>

<div id="tooltip" class="hidden">
    <p><span id="value">100</span>
    </p>
</div>

<div id = 'member-names'>    <p><span id="value">placeholder text</span>
    </p>names go here</div>


{% endblock content %}