{% extends 'council/base.html' %}


{% block title %} 
    <title>Philadelphia City Council Demographics: Stacked Bar Chart</title>
{% endblock %}

{% block styles %}

<style>

#race-names, #gender-names, #party-names {
  width:225px;
  position:absolute; 
  left:530px; top:200px; 
  z-index: 10; 
  background-color:khaki; 
  padding:5px;
}

.title {
  font-size:20px;
  text-decoration: underline;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
#tooltip {
    position: absolute;
    text-align: center;
    width: 140px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
</style>
{% endblock styles %}

{% block content %}

<script>

//Set up dimensions for all charts

var margins = {
    top: 25,
    left: 48,
    right: 100,
    bottom: 44
},

legendPanel = {
    width: 80
},

width = 700 - margins.left - margins.right - legendPanel.width,
height = 400 - margins.top - margins.bottom

</script>

<div id = 'race'>
  <div id = 'race-chart' style = "width: 850px; float: left; margin: 20px 10px; position:relative;">
    <div id = 'race-names'>Councilmembers:</div>
  </div>
</div>


<div id = 'gender'>
  <div id = 'gender-chart' style = "width: 850px; float: left; margin: 20px 10px; position:relative;">
    <div id = 'gender-names'>Councilmembers:</div>
  </div>
</div>

<div id = 'party'>
  <div id = 'party-chart' style = "width: 850px; float: left; margin: 20px 10px; position:relative;">
    <div id = 'party-names'>Councilmembers:</div>
  </div>
</div>

<script>
var race_dataset = {{ races|safe }};
var gender_dataset = {{ genders|safe }};
var party_dataset = {{ parties|safe }};
</script>


<!-- Load demographics code -->
<script src="../static/demographics-bar.js"></script>



{% endblock content %}