<!DOCTYPE html>

<html>

<head>

    <title>Demographic Breakdown</title>

    <!-- Load jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Load d3 charts -->
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <!-- Initialize demographics lists as json -->
    <script>
        var race_list = {{ race_list|safe }};
        var gender_list = {{ gender_list|safe }};
        var party_list = {{ party_list|safe }};
        var year = "{{ search|safe }}";
    </script>

</head>

<body>

<div style="display:none">

    {% for i in party_list %}

        <p>
        {{ i.party }}: {{ i.allnames }}
        TOTAL: {{ i.councilperson_id_id__count}}
        </p>
        <br>

    {% endfor %}

</div>


<h2>2014 City Council by race, gender, party</h2>

<form method="GET">
    YEAR: <input type="text" name="search"><br/>
</form><br/>

{% if search %}
City Council Demographics for the year: {{ search }}
<script></script>
{% endif %}

<div id="gender-chart" style="border:solid">Gender</div><br>
<div id="party-chart" style="border:solid">Party</div><br>
<div id="race-chart"style="border:solid">Race</div><br>

<!-- Load race code -->
<script src="../static/demographics.js"></script>

</body>

</html>