{% extends 'council/base.html' %}

{% block content %}
<br>
<ul>
    <li><a href="/all_councilmembers">Sortable list</a> of all city council members &amp; demographic data</li>

    <li><a href="/demographic_breakdown?search=2016">Pie chart</a> of the gender, party, and race breakdown of City Council by year</li>

    <li><a href="/unique_councilmembers">Bar chart</a> of how many unique councilmembers each district has had since 1980</li>

    <li><a href="/departed">Pie chart </a> of how councilmembers left their seats since 1980</li>

    <li><a href="/timeline">Timeline</a> of councilmember terms by district</li>

    <li><a href="/demographics_stacked_bar">Stacked bar chart</a>  of councilmembers by gender, party, and race </li>


    <li><a href="/maps">Maps</a> of councilmember districts by gender, party, and race </li>

</ul>

<br>
<hr>
<br>
<ul>
    <li><a href="/about">About</a> this project</li>
</ul>

{% endblock content %}