This is where the maps will go.{% extends 'council/base.html' %}

{% block title %} 
    <title>Philadelphia City Council Demographics Maps</title>
{% endblock %}







{% block scripts %}
    <!-- Initialize demographics lists as json -->
        <script src="../static/districts.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

   <script>

        var demographics = {{ query_with_names|safe }};
        console.log("DEMOGRAPHICS IS: ");
        console.log(demographics);
 console.log("MAPS IS: ");
        console.log(districts);
        // var race_list = {{ race_list|safe }};
        // var gender_list = {{ gender_list|safe }};
        // var party_list = {{ party_list|safe }};
        // var year = "{{ search|safe }}";
    </script>
{% endblock %}


{% block styles %}

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />





<style type="text/css">
#map{
    border:solid blue;
    width: 75%;
    height: 100%;
}

/*#gender-chart { float:left;}
#party-chart { float: left;position: relative; top: -22px; margin: 10px;}
#race-chart { float:left;position: relative; top: -38px}*/
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}




.d3-tip {
  font: 12px arial, sans-serif;
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
}

/*/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;}

</style>
{% endblock %}


{% block content %}

<div style="display:none">
<!-- 
    {% for i in party_list %}

        <p>
        {{ i.party }}: {{ i.allnames }}
        TOTAL: {{ i.councilperson_id_id__count}}
        </p>
        <br>

    {% endfor %} -->

</div>


<h2>City Council by race, gender, party</h2>

<form method="GET">
    YEAR: <select name="search">
    <option value="0" style="display:none">Choose a year</option>
    <option value="1980">1980</option>
    <option value="1984">1984</option>
    <option value="1988">1988</option>
    <option value="1992">1992</option>
    <option value="1996">1996</option>
    <option value="2000">2000</option>
    <option value="2004">2004</option>   
    <option value="2008">2008</option>
    <option value="2012">2012</option>
</select>
    <input type="submit" value="Submit" />
</form>

<br>
<div id = 'search-form'>
{% if search %}

City Council Demographics for the year: {{ search }}
<script></script>
{% endif %}

{% if message %}
{{ message }}
{% endif %}
<br><br><br><br>
</div>

<div id="chart-container">
    <div id="gender-chart"></div><br>
    <div id="party-chart"></div><br>
    <div id="race-chart"></div><br>
</div>

<div id = "map"></div>
<!-- Load race code -->
<!-- <script src="../static/demographics.js"></script>
 -->
You searched for {{ search }}
 {{ query_with_names }}

<script>

//Initialize a map inside a div called map
var map = L.map('map').setView([39.955, -75.1647], 11);

//add a maplayer to map
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18
}).addTo(map);





//initialize an info control
var info = L.control();

info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
    this.update();
    return this._div;
};

// method that we will use to update the control based on feature properties passed
info.update = function (props) {

    this._div.innerHTML = '<h4>City Council</h4>' +  
        //ternary 
        (props ? 
        
        //if hovering on a district    

         "District: " + props.dist_num + 
         "<br>Name: " + props.councilperson + 
         "<br>Party:" + props.party + 
         "<br>Gender: " + props.gender + 
         "<br>Race: " + props.race

        //if not hovering on a district

        : 'Hover over a district'); 
};

//add info to map
info.addTo(map);

console.log("DEMOGRAPHICS: is this mark? party");
console.log(demographics[0].party);
console.log("demographics LENGTH");
console.log(demographics.length);
console.log("districts LENGTH");
console.log(districts.features.length);


//merge the two data sets
for (i=0; i<districts.features.length; i++) {
    console.log("districts.features[i].properties ", typeof districts.features[i].properties);

    console.log("districts.features.properties.dist_num ", districts.features[i].properties.dist_num);
    console.log("xxxxxxxxxxxxxxxxxxxxxxx")
    for (j=0; j<demographics.length; j++) {
        if (districts.features[i].properties.dist_num == demographics[j].district) {
            console.log("IN DISTRICTS", districts.features[i].properties.dist_num, "IN TEST DATA", demographics[j].dist_num);
            console.log("INSIDE LOOP::::::");
            console.log("district is: ", demographics[j].district);

            districts.features[i].properties.party = demographics[j].party;
            districts.features[i].properties.first_name = demographics[j].councilperson_id_id__first_name;
            districts.features[i].properties.last_name = demographics[j].councilperson_id_id__last_name;
            districts.features[i].properties.gender = demographics[j].councilperson_id_id__gender;
            districts.features[i].properties.race = demographics[j].councilperson_id_id__race;
        }
    }

    districts.features[i].properties.anotherItem = "Whatever";
    //console.log('districts.features.properties.anotherItem', districts.features[i].properties.anotherItem);
};
console.log("AFTER LOOP THROUGH");
console.log(districts);















</script>
{% endblock %}

