{% extends 'council/base.html' %}

{% block title %} 
    <title>Philadelphia City Council Demographics Maps</title>
{% endblock title %}


{% block scripts %}
<!-- Load districts json (external script) -->
        <script src="../static/districts.js"></script>

<!-- Load Leaflet maps and jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
          <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- Initialize demographics list as json -->
   <script>
        var demographics = {{ query_with_names|safe }};
    </script>
{% endblock scripts %}


{% block styles %}

    <!-- Load leaflet styles -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <style type="text/css">
    #map{
        width: 600px;
        height: 550px;
        border-radius: 15px;
        box-shadow: 10px 10px 5px #888888;
        z-index: 0;
        margin: 10px;
        float: left;
    }

    #option-buttons {
      width: 350px;
      height: 550px;
      margin: 10px;
      float: left;
    }

    button, input[type=submit], select {
      display: inline-block;
      margin: 3px;
      padding: 3px;
      font-size: 14px;
      font-family: "Arial",sans-serif;
      line-height: 1.8;
      appearance: none;
      box-shadow: none;
      border-radius: 15px;
    }

   input[type=submit] {
      display: inline-block;
      /*margin: 3px;*/
      padding: 0px 1px 0px 1px;
      font-size: 14px;
      font-family: "Arial",sans-serif;
      line-height: 1.8;
      appearance: none;
      box-shadow: none;
      border-radius: 10px;
    }

    button:focus {
      outline: none
    }

    button:hover {
      background-color: #808080;
      font-size: 15px;
      cursor:pointer;
    }

    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }

    .legend {
        line-height: 20px;
        color: #555;
    }
    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }

    #results-box {
      height: 375px;
      width: 400px;
      border: solid gray;
    }
label {
    /* Other styling.. */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

td, th {
    padding: 2px;
}

#slider-holder {margin: 3px;}


    </style>

{% endblock styles %}


{% block content %}

<h2>City Council by race, gender, party</h2>
<p>Note: District boundaries are from the year 2000 regardless of year you choose.</p>

<div id = "map"></div>
<div id = "option-buttons">
  <ul>  

    <li style="margin-top:-55px;">Choose a demographic category to activate the slider and see a color coded map.</li>


        <li>

      <p>
      <label for="amount">Year</label>
      <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold; width:100px">
      </p>

    </li>


        <li><div id = "slider-holder"</div></li>

     <li><button id="change-gender">View by Gender</button><button id="change-party">View by Party</button><button id="change-race">View by Race</button></li>
<!--     <li><button id="change-gender">View by Gender</button></li>
    <li><button id="change-party">View by Party</button></li>
    <li><button id="change-race">View by Race</button></li> -->
    <li><button id="plain-style">Plain map</button></li>

    <li><div id = "results-box"></div></li>
  </ul>
</div>




<script>

var current_value = 2016;
//Initialize a map inside a div called map
var map = L.map('map').setView([39.999, -75.1087], 11);

//add a maplayer to map
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18
}).addTo(map);

//initialize an info control
var info = L.control();

info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
    this.update();
    return this._div;
};

// method that we will use to update the infobox control based on feature properties passed
info.update = function (props, members) {

    this._div.innerHTML = '<h4>City Council</h4>' +  
        //ternary 
        (props ? 
        
        //if hovering on a district    

         "District: " + props.dist_num + 
         "<br>Name: " + members.councilperson_id_id__first_name + " " + members.councilperson_id_id__last_name +  
         "<br>Party:" + members.party + 
         "<br>Gender: " + members.councilperson_id_id__gender + 
         "<br>Race: " + members.councilperson_id_id__race

        //if not hovering on a district

        : 'Hover over a district'); 
};

//add infobox to map
info.addTo(map);

var geojson;

var style_override = {};
// var style_target = function(f) { return f.properties.genderx };
var style_target = function(f) {return f};

function merge_styles(base, new_styles){
    for (var attrname in new_styles) { base[attrname] = new_styles[attrname]; }
    return base;
}

//set color palatte
function getColor(d) {
    return d == 'Democrat' ? "#377EB8":
           d == 'Republican' ? "#E41A1C" : 
           d == 'M' ? "#CCCC33" :
           d == 'F' ? "#009933" :
           d == 'White' ? '#D95F02' :
           d == 'Black' ? '#1B9E77' :
           d == 'Hispanic' ? '#E7298A' :
           d == 'Asian' ? '#7570B3' :
              '#888888';
};


//attach color palatte to category
function style(feature, color) {
  //trying to get this to get from demographics not geojson data
    var target = style_target(feature);

    var fillColor = (!color) ? getColor(target) : color;

    var default_style = {
        fillColor: fillColor,
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '4',
        fillOpacity: 0.5
    };

    return merge_styles(default_style, style_override);
};

//adds an un-color coded layer
L.geoJson(districts).addTo(map);

function highlightFeature(e) {
    var layer = e.target;

        for (i in demographics) 
            {
              if (demographics[i].effective_start_year <= current_value && demographics[i].effective_end_year >= current_value && demographics[i].district == layer.feature.properties.dist_num) {
                  //on hover change infobox
                  info.update(layer.feature.properties, demographics[i]);
              }//close if
            }//close for

    //on hover change color from what was defined in function style(feature)
    style_override = {
        weight: 3,
        color: 'white',
        dashArray: '',
        fillOpacity: 0.7
    }
    geojson.resetStyle(e.target);

    if (!L.Browser.ie && !L.Browser.opera) {
        layer.bringToFront();
    }

}

//reset highlight when hovering out
function resetHighlight(e) {
    style_override = {};
    geojson.resetStyle(e.target);
    info.update();
}

function onEachFeature(feature, layer) {
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
    });
}

geojson = L.geoJson(districts, {
    style: style,
    onEachFeature: onEachFeature
}).addTo(map);

//create an initial legend for the map style on load
var legend;

var create_demographics_that_year = function(year){
        //current_value = 2012;
        demographics_that_year = districts;
        console.log("IN THE create_demographics_that_year FUNCTION NOW");
        $('#results-box').append("<table cellpadding='5'>")
        $('#results-box').append("<tr><th>District</th><th>Start Year</th><th>End Year</th><th>Last name</th><th>Race</th><th>Gender</th></tr>")
        for (i in demographics) {
              //Temp just to check -- display results in a div
              if (demographics[i].effective_start_year <= current_value && demographics[i].effective_end_year >= current_value ) {
                console.log(demographics[i].effective_start_year, demographics[i].effective_end_year, demographics[i].councilperson_id_id__last_name, demographics[i].district, demographics[i].councilperson_id_id__race, demographics[i].councilperson_id_id__gender)

                    $('#results-box').append(
                      "<tr><td style='text-align:center'>" +
                      demographics[i].district + 
                      "</td><td>" +
                      demographics[i].effective_start_year + 
                      "</td><td>" + 
                      demographics[i].effective_end_year + 
                      "</td><td>" + 
                      demographics[i].councilperson_id_id__last_name + 
                      "</td><td>" + 
                      demographics[i].councilperson_id_id__race + 
                      "</td><td style='text-align:center'>" +
                      demographics[i].councilperson_id_id__gender + 
                      "</td></tr>"
                      ) //end results box append


                    for (j in demographics_that_year.features) {                    
                      if (demographics[i].district == demographics_that_year.features[j].properties.dist_num)
                        {demographics_that_year.features[j].properties.race = demographics[i].councilperson_id_id__race;
                         demographics_that_year.features[j].properties.party = demographics[i].party;
                         demographics_that_year.features[j].properties.gender = demographics[i].councilperson_id_id__gender
                        }

                    }

                  }//end if
        }//end for
        $('#results-box').append("</table>")
        return demographics_that_year;
      }//end create_demographics_that_year()


create_demographics_that_year(2016);

var activate_demographic_style = function(button_id, dem, grades) {

      //click to change color style to race categories
      document.getElementById(button_id)
              .addEventListener('click', function () {
                style_target = function(f) { return f.properties[dem] };
                geojson.setStyle(style);

                console.log("#########LEGEND IS: ", legend)

                if (legend instanceof L.Control) { map.removeControl(legend)}; 

                  legend = L.control({position: 'topright'});
                  legend.onAdd = function (map) {

                      var div = L.DomUtil.create('div', 'info legend'),
                          //grades = grades,
                          labels = [];

                      // loop through categories and generate a label with a colored square for each interval
                      for (var i = 0; i < grades.length; i++) {
                          div.innerHTML +=
                              '<i style="background:' + getColor(grades[i]) + '"></i> ' +
                              grades[i]  + '<br>' ;
                      }
                      //add another square for category "unknown"
                      if (grades.length>1){


                      div.innerHTML += "<i style='background:gray'></i> unknown<br>"}
                      return div;
                  }; //end legend.onAdd()
                  
                  //add the legend to the map

                  legend.addTo(map);
              

              });  //end click function


}


// var activate_unstyled_map = function(button_id) {
//   document.getElementById(button_id)
//     .addEventListener('click', function() {
//       style_target = function(f) {return f.properties.xx};
//       geojson.setStyle(style);
//       if (legend instanceof L.Control) {map.removeControl(legend)};
//     })
// }

activate_demographic_style("change-race", "race", ["Asian", "Black", "Hispanic", "White"]);
activate_demographic_style("change-gender", "gender", ['M', 'F']);
activate_demographic_style("change-party", "party", ["Democrat", "Republican"]);
activate_demographic_style("plain-style", "x", ["Plain map"]);


//function that's called when slider slides
var add_to_page = function( event, ui ) {
        //WHATEVER I WANT TO DO ON SLIDE GOES IN HERE
        ///set the value of the #amount element to this value
        $( "#amount" ).val(ui.value );
        $('#results-box').text("");
        
        //    var fillColor = (!color) ? getColor(target) : color;
        current_value = (!ui.value) ?  2016 : ui.value;

        demographics_that_year = districts;
        console.log("TEMP OBJ INSIDE add_to_page", demographics_that_year)
        create_demographics_that_year(current_value);


        //TEST to see the contents of demographics_that_year: 
        console.log("TEMP OBJ IS NOW: ", demographics_that_year)

        geojson.setStyle(style);

      //click to change color style to race categories
      activate_demographic_style("change-race", "race", ["Asian", "Black", "Hispanic", "White"] )

      //click to change color style to gender categories
      activate_demographic_style("change-gender", "gender", ['M', 'F'] )

      //click to change color style to party categories
      activate_demographic_style("change-party", "party", ["Democrat", "Republican"])

      //click to change color style to monochrome
      activate_demographic_style("plain-style", "x", ["Monochrome map"]);

};//end add_to_page()


//Slider function
  $(function() {
    $( "#slider-holder" ).slider({
      //See http://api.jqueryui.com/slider/ for all options & methods slider can take
      range: "min",
      value: 2016,
      min: 1980,
      max: 2016,
      step: 4,
      disabled: true,
      slide: add_to_page
    });
    //initialize slider to slider("value")
    $( "#amount" ).val($( "#slider-holder" ).slider( "value" ) );

    }) //closes $function

document.getElementById("plain-style").addEventListener('click', function() {$( "#slider-holder" ).slider( "option", "disabled", true );})
document.getElementById("change-race").addEventListener('click', function() {$( "#slider-holder" ).slider( "option", "disabled", false );})
document.getElementById("change-party").addEventListener('click', function() {$( "#slider-holder" ).slider( "option", "disabled", false );})
document.getElementById("change-gender").addEventListener('click', function() {$( "#slider-holder" ).slider( "option", "disabled", false );})


</script>


{% endblock content %}

