{% extends 'council/base.html' %}

{% block title %} 
<title>Timeline of Councilmembers' Terms</title>  

{% endblock %}  

{% block scripts %}




    <!-- Load script for this page -->
    <script src="../static/timeline.js"></script>



{% endblock scripts %}

{% block styles %}

    <!-- Internal Style Sheet -->
    <style>
    html,body,#wrapper {
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .chart {
        font-family: Arial, sans-serif;
        font-size: 12px;
    }

    .axis path,.axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
     
    .defeated {
        fill: #F2C249;
    }
     
    .resigned {
        fill: #E6772E;
    }
     
    .retired {
        fill: #4DB3B3;
    }
     
    .scandal {
        fill: #E64A45;
    }
     
    .died{
        fill: #3D4C53;
    }

    .incumbent {
      fill: #888888;
    }


    .female  {        fill: #009933;
}
    .male   { fill: #CCCC33;
} 

.Republican {fill: #E41A1C;}
.Democrat {fill: #377EB8;}

.asian {fill:#7570B3;}
.black {fill:#1B9E77;}
.hispanic {fill:#E7298A;}
.white {fill:#D95F02;}
.unknown {fill: #888888 ;}

.XXX {fill: #888888;}
</style>

{% endblock styles %}


{% block content %}

    <h2>Timeline of City Council Terms of Service</h2>
    <p>Click a button to see a timeline of councilmembers by that category.</p>
    <p>Check out some of the shortest and longest council terms. Look for gaps to see when districts have gone unrepresented.  Check out what districts have been represented only by white men.  </p>
    <p>Only district seats are represented here as at-large seats do not have direct successors.</p>
<button onclick="departed_gantt(members)">Departed</button> 
<button onclick="gender_gantt(members)">Gender</button> 
<button onclick="party_gantt(members)">Party</button> 
<button onclick="race_gantt(members)">Race</button> 
<button onclick="monochrome_gantt(members)">Monochrome chart</button> 
    <div id = "chart-holder"></div>


<script>
var members = {{ members|safe }};

var councilperson_id_id__gender = "councilperson_id_id__gender"; 
var departed = "departed";
var party = "party";
var councilperson_id_id__race = "councilperson_id_id__race";

console.log("MEMBERS");
console.log(members);
console.log("END MEMBERS");

for (i=0; i<members.length; i++)
    {
    /*convert date strings to js date format*/
    members[i].actual_end_date = new Date(members[i].actual_end_date);
    members[i].actual_start_date = new Date(members[i].actual_start_date);
    }

/*members has the following fields:
actual_end_date
departed
actual_start_date
district
councilperson_id_id__last_name
councilperson_id_id__first_name*/

/*connects with css styles*/
var departedStyle = {
    "defeated": "defeated",
    "scandal": "scandal",
    "resigned":"resigned",
    "retired":"retired",
    "died":"died",
    "incumbent":"incumbent"
    };

var genderStyle = {'M':"male", 'F':"female"};

var partyStyle = {"Democrat":"Democrat", "Republican":"Republican"};

var raceStyle = {'Asian':'asian', 'Black':'black', 'Hispanic':'hispanic', 'White':'white', 'unknown':"unknown"}

var noStyle = {"None":"None"}
/*sets up y axis */
var districtNames = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];

/*format date as mm/dd/yyyy*/
/*see for more info:*/
/*https://github.com/mbostock/d3/wiki/Time-Formatting*/
var dateFormat = "%b %Y";

var departed_gantt = d3.gantt(departedStyle, departed, departed_color, departed_color_length).councilmembers(districtNames).myChartStyle(departedStyle).tickFormat(dateFormat);




var gender_gantt = d3.gantt(genderStyle, councilperson_id_id__gender, gender_color, gender_color_length).councilmembers(districtNames).myChartStyle(genderStyle).tickFormat(dateFormat);

var party_gantt = d3.gantt(partyStyle, party, party_color, party_color_length).councilmembers(districtNames).myChartStyle(partyStyle).tickFormat(dateFormat);

var race_gantt = d3.gantt(raceStyle, councilperson_id_id__race, race_color, race_color_length).councilmembers(districtNames).myChartStyle(raceStyle).tickFormat(dateFormat);

var monochrome_gantt = d3.gantt(noStyle, councilperson_id_id__race, no_color, no_color_length).councilmembers(districtNames).myChartStyle(noStyle).tickFormat(dateFormat);

monochrome_gantt(members);

</script>





<!-- <button onclick="gantt(members)">Click me</button> -->

<!-- 
// <script>
// function myFunction() {
//     document.getElementById("demo").innerHTML = "Hello World";
// }
// </script>

 -->

{% endblock content %}