<!DOCTYPE html>

<html>

<head>

    <title>Timeline</title>

    <!-- Load jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Load d3 charts -->
    <script src="http://d3js.org/d3.v3.min.js"></script>




</head>

<body>

{{ members }}

<script>
var members = {{ members|safe }};
console.log(members);
for (i=0; i<members.length; i++)
{

    console.log(members[i].actual_end_date);
    members[i].actual_end_date = new Date(members[i].actual_end_date);
    members[i].actual_start_date = new Date(members[i].actual_start_date);
}

console.log(members);
</script>



</body>


</html>