<!DOCTYPE html>

<html>

<head>

<title>Unique Councilmembers by District</title>    
<!-- Load jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<!-- Load d3 charts -->
<script src="http://d3js.org/d3.v3.min.js"></script>

<!-- initialize json data -->
<script>
var uniqueMembers = {{ unique_list|safe }};
</script>

<!-- Styling the bar graph -->
<style>

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
}

</style>

</head>

<body>

<table style="display:none;">
<!-- For debugging purposes
View raw data in html table -->

    <tr><th>count</th><th>district</th></tr>

    {% for member in members %}

    <tr>
        <td>
            {{ member.councilperson_id_id__count}}
        </td>
        <td>
            {{ member.district}}
        </td>
    </tr>
    
    {% endfor %}
</table>

<svg id="visualisation" width="500" height="250"></svg>

<script>

function InitChart() {
 
  var vis = d3.select('#visualisation'),
    WIDTH = 500,
    HEIGHT = 250,
    MARGINS = {
      top: 20,
      right: 20,
      bottom: 20,
      left: 50
      },

    xRange = d3.scale.ordinal().rangeRoundBands([MARGINS.left, WIDTH - MARGINS.right], 0.1).domain(uniqueMembers.map(function(d) {
        return d.district;
    })); 

    yRange = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([0,
        d3.max(uniqueMembers, function(d) {
        return d.councilperson_id_id__count;
    })]);
 
    xAxis = d3.svg.axis()
      .scale(xRange)
      .tickSize(5)
      .tickSubdivide(true),
 
    yAxis = d3.svg.axis()
      .scale(yRange)
      .tickSize(5)
      .orient("left")
      .tickSubdivide(true);
 
    vis.append('svg:g')
      .attr('class', 'x axis')
      .attr('transform', 'translate(0,' + (HEIGHT - MARGINS.bottom) + ')')
      .call(xAxis);
 
    vis.append('svg:g')
      .attr('class', 'y axis')
      .attr('transform', 'translate(' + (MARGINS.left) + ',0)')
      .call(yAxis);

    vis.selectAll('rect')
      .data(uniqueMembers)
      .enter()
      .append('rect')
      .attr('x', function(d) { // sets the x position of the bar
        return xRange(d.district);
       })
      .attr('y', function(d) { // sets the y position of the bar
        return yRange(d.councilperson_id_id__count);
       })
      .attr('width', xRange.rangeBand()) // sets the width of bar
      .attr('height', function(d) {      // sets the height of bar
        return ((HEIGHT - MARGINS.bottom) - yRange(d.councilperson_id_id__count));
       })
      .attr('fill', 'grey')   // fills the bar with grey color
      .on('mouseover', function(d){
         d3.select(this)
          .attr('fill', 'blue');
      })

      .on('mouseout', function(d){
         d3.select(this)
          .attr('fill', 'grey');
      })
      .append("title")
      .text(function(d) {return d.allnames});

} //close function InitChart
 
InitChart();

</script>

</body>

</html>



