
body {
    background-color: #b0c4de;
    font: medium arial, sans-serif;
    margin: 50px;
}


ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    line-height: 150%;
}

body p {
    margin-right: 150px;
}

a {text-decoration:none}

a:link    { color: #2E1532; }
a:visited { color: #044F55; }
a:hover   { color: #CE5044; }
a:active  { color: #9F2820; }