
body {
    background-color: #b0c4de;
    font: medium arial, sans-serif;
    margin: 50px;
}


ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    line-height: 150%;
}

body p {
    margin-right: 150px;
}

a {text-decoration:none}

a:link    { color: #2E1532; }
a:visited { color: #044F55; }
a:hover   { color: #CE5044; }
a:active  { color: #9F2820; }


/*For charts that use tooltips library*/

.d3-tip {
  font: 12px arial, sans-serif;
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;}

/*End styling for tooltips library*/
